#gameFieldBackgroundImage{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}


#field{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-stack{
        position: relative;
        .card{
            width: 200px;
            height: auto;
            position: absolute;
        }
        .fistcard{
            &:hover{
               transition: transform 0.2s ease-out;  
               transform: scale(1.1);
               cursor: pointer;
            }
        }
    }
}

.pickCardAnimation{
    animation: pick-Card-Animation 1s ease-in-out;
    transform: scale(1) translateX(340px) translateY(-320px) rotate(10deg)
}

@keyframes pick-Card-Animation{
    0%{
        transform: scale(1.2);
    }
    30%{
        transform: scale(1.7);
    }
    50%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1) translateX(340px) translateY(-320px) rotate(10deg); 
    }
}

.playedCards{
    transform: scale(1) translateX(340px) translateY(-320px) rotate(10deg); 
    right: 50px;
}

.player-position{

    position: absolute;
    right: 0px;
}

#btn-add-player{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
#gameInfoCard{
    position: absolute;
    bottom: 20px;
    left: 150px;
    right: 150px;
}

@media screen and (max-width: 1150px) {
    #field{
        .card-stack{
            .card{
                width: 100px;
                height: auto;
                position: absolute;
            }
        }
    }
    .pickCardAnimation{
        animation: pick-Card-AnimationMobile 1s ease-in-out;
        transform: scale(1) translateX(160px) translateY(-150px) rotate(10deg); 
    }

    @keyframes pick-Card-AnimationMobile{
        0%{
            transform: scale(1.2);
        }
        30%{
            transform: scale(1.7);
        }
        50%{
            transform: scale(1.7);
        }
        100%{
            transform: scale(1) translateX(160px) translateY(-150px) rotate(10deg); 
        }
    }
    .playedCards{
        transform: scale(1) translateX(160px) translateY(-150px) rotate(10deg); 
        right: 50px;
    }    
}

@media screen and (max-width: 800px) {

    .pickCardAnimation{
        animation: pick-Card-AnimationMobileUnder800 1s ease-in-out;
        transform: scale(1) translateX(60px) translateY(-180px) rotate(10deg);
    }
    @keyframes pick-Card-AnimationMobileUnder800{
        0%{
            transform: scale(1.2);
        }
        30%{
            transform: scale(1.7);
        }
        50%{
            transform: scale(1.7);
        }
        100%{
            transform: scale(1) translateX(60px) translateY(-180px) rotate(10deg); 
        }
    }
    .playedCards{
        transform: scale(1) translateX(60px) translateY(-180px) rotate(10deg);
        right: 50px;
    }
}

@media screen and (max-width: 600px) {

    #gameInfoCard{
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    #btn-add-player{
        position: absolute;
        bottom: 150px;
        right: 50px;
        z-index: 2;
    }
}