<app-player *ngFor="let player of game.players; let i = index" 
[ngStyle]="{'top.px': i*80 +50}" [name]="game.players[i]" 
[currentPlayer]="i == this.game.currentPlayer" class="player-position">
</app-player>

<div id="field">

    <div class="card-stack">
        <!-- Stack -->
        <img class="card" *ngFor="let c of [0,1,2,3,4]; let i = index" [ngStyle]="{'right.px': i*10}" src="assets/img/Backs/Card-Back-05.png" alt="">
        <img class="card fistcard" (click)="pickCard()" style="right: 50px;" src="assets/img/Backs/Card-Back-05.png" alt="">
        
        <!-- Played cards -->
        <img class="card playedCards" *ngFor="let cards of game.playedCards" src="assets/img/Cards/Modern/{{ cards }}.png" alt="">

        <!-- picked card -->
        <img class="card pickCardAnimation" *ngIf ="pickCardAnimation" style="right: 50px;" src="assets/img/Cards/Modern/{{ currentCard }}.png" alt="">
    </div>

    <button mat-fab color="primary" id="btn-add-player" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>

    <app-game-info [firstCardPlayed]="game.playedCards.length > 0" [card]="currentCard" id="gameInfoCard"></app-game-info>


</div>